[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
mock = "*"

[packages]
click = "==7.0"
setuptools = "*"
numpy = "==1.17.4"

[requires]
python_version = "3.8"
